<section class="container p-4">
  <h2 class="text-center text-cyan-400 font-bold text-2xl mt-3 sm:text-3xl">
    Abilities
  </h2>

  <section class="px-4">
    <article>
      <h3
        class="w text-center text-cyan-400 font-bold text-xl mt-3 sm:text-2xl"
      >
        Solid Knowledge
      </h3>
    </article>
    <section class="container-abilities m-3">
      <article class="ability-card">
        <figure>
          <img loading="lazy" src="html.png" alt="HTML" class="" />
        </figure>
        <figcaption>HTML</figcaption>
      </article>
      <article class="ability-card">
        <figure>
          <img loading="lazy" src="css.png" alt="css" class="" />
        </figure>
        <figcaption>CSS</figcaption>
      </article>

      <article class="ability-card">
        <figure>
          <img loading="lazy" src="js.png" alt="js" class="" />
        </figure>
        <figcaption>JavaScript</figcaption>
      </article>
    </section>
    <h3 class="text-center text-cyan-400 font-bold text-xl mt-3 sm:text-2xl">
      Framework CSS
    </h3>
    <section class="container-abilities mt-3">
      <article class="ability-card">
        <figure>
          <img loading="lazy" src="bootstrap.png" alt="HTML" class="" />
        </figure>
        <figcaption>Bootstrap</figcaption>
      </article>
      <article class="ability-card">
        <figure>
          <img loading="lazy" src="tailwind.svg" alt="HTML" class="" />
        </figure>
        <figcaption>Tailwind CSS</figcaption>
      </article>

      <article class="ability-card">
        <figure>
          <img loading="lazy" src="materialize.svg" alt="HTML" class="" />
        </figure>
        <figcaption>Materialize</figcaption>
      </article>
    </section>

    <h3 class="w text-center text-cyan-400 font-bold text-xl mt-3 sm:text-2xl">
      PreProcessors CSS
    </h3>

    <section class="container-abilities mt-3">
      <article class="ability-card">
        <figure>
          <img loading="lazy" src="sass.png" alt="sass" class="" />
        </figure>
        <figcaption>Sass</figcaption>
      </article>
      <article class="ability-card">
        <figure>
          <img loading="lazy" src="less.png" alt="less" class="" />
        </figure>
        <figcaption>Less CSS</figcaption>
      </article>

      <article class="ability-card">
        <figure>
          <img loading="lazy" src="stylus.png" alt="stylus" class="" />
        </figure>
        <figcaption>Stylus</figcaption>
      </article>
    </section>
    <h3 class="w text-center text-cyan-400 font-bold text-xl mt-3 sm:text-2xl">
      Version Control System
    </h3>
    <section class="container-abilities mt-3">
      <article class="ability-card">
        <figure>
          <img src="git.png" alt="gir" loading="lazy" class="" />
        </figure>
        <figcaption>Git</figcaption>
      </article>

      <article class="ability-card">
        <figure>
          <img src="Octocat.png" alt="Git hub" loading="lazy" class="" />
        </figure>
        <figcaption>Git hub</figcaption>
      </article>
    </section>

    <h3 class="w text-center text-cyan-400 font-bold text-xl mt-3 sm:text-2xl">
      Node JS and Dependencies
    </h3>

    <section class="container-abilities mt-3">
      <article class="ability-card">
        <figure>
          <img src="nodejs.png" alt="nodeJs" loading="lazy" class="" />
        </figure>
        <figcaption>NodeJS</figcaption>
      </article>

      <article class="ability-card">
        <figure>
          <img src="npm.png" alt="npm" loading="lazy" class="" />
        </figure>
        <figcaption>NPM</figcaption>
      </article>

      <article class="ability-card">
        <figure>
          <img src="webpack.png" alt="webpack" loading="lazy" class="" />
        </figure>
        <figcaption>Webpack</figcaption>
      </article>

      <article class="ability-card">
        <figure>
          <img src="babel-logo.png" alt="babel" loading="lazy" class="" />
        </figure>
        <figcaption>Babel</figcaption>
      </article>

      <article class="ability-card">
        <figure>
          <img
            loading="lazy"
            src="express.png"
            alt="express"
            loading="lazy"
            class=""
          />
        </figure>
        <figcaption>Express</figcaption>
      </article>
    </section>

    <h3 class="w text-center text-cyan-400 font-bold text-xl mt-3 sm:text-2xl">
      Template Engine
    </h3>

    <section class="container-abilities mt-3">
      <article class="ability-card">
        <figure>
          <img
            loading="lazy"
            src="pug-logo.png"
            alt="pug"
            loading="lazy"
            class=""
          />
        </figure>
        <figcaption>Pug</figcaption>
      </article>

      <article class="ability-card">
        <article>
          <figure>
            <img
              src="ejs.png"
              alt="ejs"
              loa<section
              class="container-abilities mt-3"
            />
          </figure>
          <figcaption>Embedded JavaScript</figcaption>
        </article>
      </article>
    </section>

    <h3 class="w text-center text-cyan-400 font-bold text-xl mt-3 sm:text-2xl">
      Data Base
    </h3>

    <section class="container-abilities mt-3">
      <article class="ability-card">
        <figure>
          <img src="mysql.png" alt="mysql" loading="lazy" class="" />
        </figure>
        <figcaption>MySQL</figcaption>
      </article>

      <article class="ability-card">
        <figure>
          <img
            src="mongodb-logo.png"
            alt="mongoDB"
            loa<section
            class="container-abilities mt-3"
          />
        </figure>
        <figcaption>MongoDB</figcaption>
      </article>
    </section>

    <h3 class="w text-center text-cyan-400 font-bold text-xl mt-3 sm:text-2xl">
      Framework JavaScript
    </h3>

    <section class="container-abilities mt-3">
      <article class="ability-card">
        <figure>
          <img
            loading="lazy"
            src="react.png"
            alt="reactjs"
            loading="lazy"
            class=""
          />
        </figure>
        <figcaption>React JS</figcaption>
      </article>
    </section>

    <h3 class="w text-center text-cyan-400 font-bold text-xl mt-3 sm:text-2xl">
      Backend Languages and Frameworks
    </h3>

    <section class="container-abilities mt-3">
      <article class="ability-card">
        <figure>
          <img loading="lazy" src="php.png" alt="php" loading="lazy" class="" />
        </figure>
        <figcaption>PHP</figcaption>
      </article>
      <article class="ability-card">
        <figure>
          <img
            loading="lazy"
            src="laravel.png"
            alt="laravel"
            loading="lazy"
            class=""
          />
        </figure>
        <figcaption>Laravel</figcaption>
      </article>
    </section>

    <h3 class="text-center text-cyan-400 font-bold text-xl mt-3 sm:text-2xl">
      CMS
    </h3>

    <section class="container-abilities mt-3">
      <article class="ability-card">
        <figure>
          <img
            loading="lazy"
            src="wordpress.png"
            alt="wprdpress"
            loading="lazy"
            class=""
          />
        </figure>
        <figcaption>Wordpress</figcaption>
      </article>
    </section>
  </section>
</section>
