<section class="cointainer p-4">
  <h2 class="text-center text-cyan-400 font-bold text-2xl sm:text-3xl">
    Certifications
  </h2>
</section>
<section class="cointainer container-certications px-8 py-4">
  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/ruta/7-arquitecto-frontend-old/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/arquitecto-frontend_page.jpg"
        alt="frontend developer"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>
  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/1802-accesibilidad-web/diploma/detalle/ 
        "
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-accesibilidad-web.jpg"
        alt="frontend developer"
        class="img-certificado"
        loading="lazy"
      /></figure
  ></a>
  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/2032-datos-php/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-datos-php.jpg"
        alt="datos php"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>
  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/1906-diseno-programadores/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-diseno-programadores.jpg"
        alt="diseño para programadores"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>
  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/2477-frontend-developer-practico/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-frontend-developer.jpg"
        alt="frontend developer"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/1557-git-github/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-git-github.jpg"
        alt="Curso git y github"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/2008-html-css/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-html-css.jpg"
        alt="Curso Html y css"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/2182-intro-laravel/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-intro-laravel.jpg"
        alt="Curso introduccion a laravel"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/2186-laravel-testing/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-laravel-testing.jpg"
        alt="testing laravel"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/1744-practico-css/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-practico-css.jpg"
        alt="Curso practico de css"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/1665-preprocesadores/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-preprocesadores.jpg"
        alt="Preprocesadores css"
        class="img-certificado"
        loading="lazy"
      /></figure
  ></a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/1822-tailwind-css-2020/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-tailwind-css-2020.jpg"
        alt="tailwindcss"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/2292-terminal/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-terminal.jpg"
        alt="Terminal"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/3175-asincronismo-js/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-asincronismo-js.jpg"
        alt="Asincronismo"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/1566-bd/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-bd.jpg"
        alt="Base de datos"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/1805-materialize/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-materialize.jpg"
        alt="Materialize"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/2242-webpack/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-webpack.jpg"
        alt="Webpack"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/2477-frontend-developer-practico/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-frontend-developer-practico.jpg"
        alt="Practica Frontend"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/1331-bootstrap/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-bootstrap.jpg"
        alt="Bootstrap"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/2534-wordpress-blog/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-wordpress-blog.jpg"
        alt="Blog con Wordpress"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/1763-npm-js/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-npm-js.jpg"
        alt="NPM"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>

  <a
    href="https://platzi.com/p/aaron-fabricio-santa-cruz-vald/curso/1420-sistemas-diseno/diploma/detalle/"
    target="_blank"
  >
    <figure>
      <img
        src="/certificados/diploma-sistemas-diseno.jpg"
        alt="Sistema de disenio"
        class="img-certificado"
        loading="lazy"
      />
    </figure>
  </a>
</section>
