<footer class="w-full h-20 absolute bottom-0">
  <div class="text-sm text-center">
    <p class="">&copy Copyright 2022 - Web Developer</p>

    <p>Programming, Design and development - La paz Bolivia</p>

    <p>Designed by Aarón Fabricio Santa Cruz Valdez</p>
  </div>
</footer>
