<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Aaron Fabricio Santa Cruz Valdez" />
<meta
  name="keywords"
  content="programaci贸n ,programador web bolivia, desarrollador,desarrollo web,Bolivia, La Paz,Aaron Code ,Freelancer,frontend developer ,programaci贸n frontend y backend, web designer ,aaron fabricio santa cruz valdez,dise帽o web,maquetaci贸n,programming, web programmer bolivia, developer, web development, frontend developer, frontend and backend programming, web designer web design, layout"
/>
<meta name="description" content="Aar贸n Code: Developer and Web Designer,
Frontend Programmer 火, resident in Bolivia. Contacts ... "" />
<meta name="copyright" content="Aaron Fabricio Santa Cruz Valdez" />
<link rel="icon" href="favicon.png" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
  integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="style.css" />
<link rel="stylesheet" href="sidebar.css" />
<link rel="stylesheet" href="tabbar.css" />
<link rel="stylesheet" href="main.css" />

<title>Aaron Code</title>
