<section class="cointainer p-4">
  <h2 class="text-center text-cyan-400 font-bold text-2xl sm:text-3xl">
    Portafolio
  </h2>
</section>
<section class="cointainer container-portafolio px-8 py-4">
  <article class="card">
    <div class="face front">
      <img loading="lazy" src="perritos.jpg" alt="APP PERRITOS" />
      <h3>DOG APP</h3>
    </div>
    <div class="face back">
      <h3>DOG APP</h3>
      <p>Application created with a dog API</p>
      <div>
        <a
          href="https://glistening-puppy-a19ce8.netlify.app/"
          target="_blank"
          class="bg-blue-600"
        >
          see more...
        </a>
      </div>
    </div>
  </article>

  <article class="card">
    <div class="face front">
      <img loading="lazy" src="goo.jpg" alt="GooSistem" />
      <h3>GooSistem</h3>
    </div>
    <div class="face back">
      <h3>GooSistem</h3>
      <p>Project carried out for the company GooSistem</p>
      <div>
        <a href="https://goosistem.com/" target="_blank" class="bg-blue-600">
          see more...
        </a>
      </div>
    </div>
  </article>

  <article class="card">
    <div class="face front">
      <img loading="lazy" src="res.jpg" alt="Restaurant" />
      <h3>Dino Burguer</h3>
    </div>
    <div class="face back">
      <h3>Dino Burguer</h3>
      <p>
        Layout made with HTML and the CSS Foundation framework in the personal
        practice projects.
      </p>
      <div>
        <a
          href="https://aaron-fabricio-sc.github.io/restaurant/"
          class="bg-blue-600"
          target="_blank"
        >
          see more...
        </a>
      </div>
    </div>
  </article>

  <article class="card">
    <div class="face front">
      <img loading="lazy" src="images.jpeg" alt="" />
      <h3>Rick and Morty</h3>
    </div>
    <div class="face back">
      <h3>Rick and Morty</h3>
      <p>Single Page Application (SPA) made with Javascript Html and Css.</p>
      <div>
        <a
          href="https://aaron-fabricio-sc.github.io/RickandMortySpa/"
          class="bg-blue-600"
          target="_blank"
        >
          see more...
        </a>
      </div>
    </div>
  </article>

  <article class="card">
    <div class="face front">
      <img loading="lazy" src="aaron-music.jpg" alt="" />
      <h3>Aaron Music</h3>
    </div>
    <div class="face back">
      <h3>Aaron Music</h3>
      <p>
        Web layout Made with Html, Sass Preprocessor and a library Javascript
        called animate.js.
      </p>
      <div>
        <a
          href="https://aaron-fabricio-sc.github.io/web-music/"
          class="bg-blue-600"
          target="_blank"
        >
          see more...
        </a>
      </div>
    </div>
  </article>

  <article class="card">
    <div class="face front">
      <img loading="lazy" src="full-video.jpg" alt="" />
      <h3>Full Pelis</h3>
    </div>
    <div class="face back">
      <h3>Full Pelis</h3>
      <p>
        Web layout Made with Html, Javascript and Css Using an API of movies.
      </p>
      <div>
        <a
          href="https://aaron-fabricio-sc.github.io/PracticeAPI-video/"
          class="bg-blue-600"
          target="_blank"
        >
          see more...
        </a>
      </div>
    </div>
  </article>

  <article class="card">
    <div class="face front">
      <img loading="lazy" src="platzi-hawaii.jpg" alt="" />
      <h3>Platzi Conf Hawaii</h3>
    </div>
    <div class="face back">
      <h3>Platzi Conf Hawaii</h3>
      <p>
        Web layout Made with Html and the Bootstrap framework project of
        practice.
      </p>
      <div>
        <a
          href="https://aaron-fabricio-sc.github.io/practice-bootstrap/"
          class="bg-blue-600"
          target="_blank"
        >
          see more...
        </a>
      </div>
    </div>
  </article>
</section>
