<section class="cointainer p-4">
  <h2 class="text-center text-cyan-400 font-bold text-2xl sm:text-3xl">
    Services
  </h2>
</section>
<section class="cointainer container-services p-4">
  <article class="ability-card ability-card-services">
    <div>
      <i class="fa-solid fa-mobile-screen text-2xl"></i>
    </div>
    <h3 class="text-center text-cyan-400 font-bold text-base mt-3 sm:text-2xl">
      Desktop and mobile web designs
    </h3>
    <p class="text-sm text-center sm:text-lg">
      With the latest technologies, websites adapt to everyone platforms, thus
      achieving a multiplatform Web.
    </p>
  </article>

  <article class="ability-card ability-card-services">
    <div>
      <i class="fa-solid fa-code text-2xl""></i>
    </div>
    <h3 class="text-center text-cyan-400 font-bold text-base mt-3 sm:text-2xl">
      Web programmer
    </h3>
    <p class="text-sm text-center sm:text-lg">
      With knowledge in Web Site Technologies. HTML5, CSS3, Javascript,
      bootstrap, TailwindCSS, Materialize Sass, Less, Stylus, React JS and more.
    </p>
  </article>

  <article class="ability-card ability-card-services">
    <div>
      <i class="fa-solid fa-universal-access text-2xl"></i>
    </div>
    <h3 class="text-center text-cyan-400 font-bold text-base mt-3 sm:text-2xl">
      Website audit
    </h3>
    <p class="text-sm text-center sm:text-lg">
      Audit of: SEO, Performance and Accessibility.
    </p>
  </article>
</section>
