<nav class="sidebar">
  <div class="logo-content">
    <a href="/" class="logo">
      <h3 class="text-center text-2xl text-white font-bold">
        Aaron<span class="text-purple-600">&lt;</span
        ><span class="text-cyan-400">Code</span
        ><span class="text-purple-600">&gt;</span>
      </h3>
    </a>

    <div class="button-menu">
      <i class="fa-solid fa-bars" id="button-menu"></i>
    </div>
  </div>

  <ul>
    <li>
      <a href="/">
        <i class="fa-solid fa-house"></i>
        <span class="link-name">Home</span>
      </a>
      <span class="tooltip">Home</span>
    </li>
    <li>
      <a href="/about">
        <i class="fa-solid fa-user"></i>
        <span class="link-name">About me</span>
      </a>
      <span class="tooltip">About</span>
    </li>

    <li>
      <a href="/services">
        <i class="fa-solid fa-laptop-code"></i>
        <span class="link-name">Services</span>
      </a>
      <span class="tooltip">Services</span>
    </li>
    <li>
      <a href="/portafolio">
        <i class="fa-solid fa-link"></i>
        <span class="link-name">Portafolio</span>
      </a>
      <span class="tooltip">Portafolio</span>
    </li>
    <li>
      <a href="/contacts">
        <i class="fa-solid fa-phone"></i>
        <span class="link-name">Contacts</span>
      </a>
      <span class="tooltip">Contacts</span>
    </li>
    <li>
      <a href="/certifications">
        <i class="fa-solid fa-book-open"></i>
        <span class="link-name">Certifications</span>
      </a>
      <span class="tooltip">Certifications</span>
    </li>
  </ul>
  <div class="profile-content">
    <h3 class="corazon">❤️</h3>

    <h3 class="text-profile text-center text-xl text-cyan-400 font-bold">
      Frontend Developer
    </h3>
  </div>
</nav>
