<nav
  class="tabbar w-full m-0 h-16 bg-slate-200 text-gray-800 rounded-t-lg text-xs sm:text-lg sm:h-24"
>
  <ul class="w-full h-full">
    <li class="list">
      <a href="/portafolio" class="nav_menu">
        <span class="icon"> <i class="fa-solid fa-link"></i></span>
        <span class="text">Portafolio</span>
      </a>
    </li>
    <li class="list">
      <a href="/about" class="nav_menu">
        <span class="icon"><i class="fa-solid fa-user"></i></span>
        <span class="text">About Me</span>
      </a>
    </li>

    <li class="list activee">
      <a href="/" class="nav_menu">
        <span class="icon"><i class="fa-solid fa-house"></i></span>
        <span class="text">Home</span>
      </a>
    </li>

    <li class="list">
      <a href="/services" class="nav_menu">
        <span class="icon"> <i class="fa-solid fa-laptop-code"></i></span>
        <span class="text">Services</span>
      </a>
    </li>

    <li class="list">
      <a href="/contacts" class="nav_menu">
        <span class="icon"><i class="fa-solid fa-phone"></i></span>
        <span class="text">Contacts</span>
      </a>
    </li>
  </ul>
</nav>
