<section class="container p-4">
  <h2 class="text-center text-cyan-400 font-bold text-2xl sm:text-3xl">
    About Me
  </h2>
  <p class="text-center mt-3 sm:text-xl">
    As a technology professional, I discovered my passion for Frontend
    development, a discipline that combines creativity and technical skills to
    create attractive and intuitive user interfaces. Since I started my career
    in this field, I have had the opportunity to work on different projects,
    from basic websites to more complex web applications. My vision is to
    generate digital solutions through programming.ng.
    <br />
    <br />

    My approach to Frontend development is based on attention to detail and
    creating user experiences that are intuitive and engaging. I love working as
    a team and collaborating with designers, back-end developers, and other
    professionals to take ideas from conception to final release.
    <br />
    <br />
    I am currently a Front-end developer with knowledge in Javascript, React,
    Angular technologies. But I also have knowledge in the Back-end with PHP,
    NodeJS, Laravel, Express technologies. Expert in layout of pages, sites and
    web applications.
    <br />
    <br />

    I pride myself on being passionate about constant learning and always up to
    date on the latest trends and development tools. I'm always looking for ways
    to improve my work and take solutions to a higher level. One of my goals is
    to be a fullstack developer focused on building web applications.
    <br />
    <br />
    My last roles were Frontend Developer collaborating in the design and
    implementation of websites and applications.
    <br />
    <br />
    In short, my career in Frontend development has allowed me to combine my
    love of technology with my creativity and communication skills to create
    exceptional digital products. I'm excited to continue exploring the
    possibilities of this discipline and help create exceptional user
    experiences.
  </p>
  <h2 class="mt-3 text-center text-cyan-400 font-bold text-2xl sm:text-3xl">
    Knowledge
  </h2>

  <p class="text-center sm:text-xl">
    Web layout, web design, database, frontend programming and Backend
    programming
  </p>
</section>
