@tailwind base;
@tailwind components;
@tailwind utilities;


@resposive{
    .rotate-45{
        transform:translate(45deg)
    }
}


@variants hover{
    .zoom{
        transform:scale(2);
        transform:translate(45deg)
    }
}